In [8]:
import pandas as pd
import cobra
from cobra.io import load_matlab_model, load_json_model, save_json_model, load_model
from tqdm import tqdm
from p_tqdm import p_map
import pickle

## Get BiGG Genes

In [9]:
model = load_matlab_model(f"/Mounts/rbg-storage1/datasets/Metabo/BiGG/iML1515.mat")

This model seems to have metCharge instead of metCharges field. Will use metCharge for what metCharges represents.
No defined compartments in model iML1515. Compartments will be deduced heuristically using regular expressions.
Using regular expression found the following compartments:c, e, p

In [10]:
solution = model.optimize()

In [11]:
print(solution)

<Solution 0.877 at 0x7f2bed1dcf40>

In [12]:
model.summary()

In [14]:
pd.DataFrame(solution.fluxes)

          fluxes
CYTDK2   0.00000
XPPT     0.00000
HXPRT    0.00000
NDPK5    0.00000
SHK3Dr   0.33424
...          ...
MPTS     0.00000
MOCOS    0.00000
BMOGDS2  0.00000
FESD2s   0.00000
OCTNLL   0.00000

[2712 rows x 1 columns]